<style>
    .customBasicButton {
        padding: 20px;
        margin: 20px;
        border-radius: 15px;
    }
    .h5 {
        font-size: 17px;
        color: black;
        font-family: "InterSemibold";
    }

</style>


<div class="customBasicButton" style="background-color: #F2F2F7;" >
    <h5>Get Started Now</h5>
</div>