@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    @*<div class="sidebar">
            <NavMenu />
        </div>*@

    <main>
        @*<div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>

    @if (CurrentPage != "/")
    {
        <!-- Bottom navigation bar -->
        <footer class="bottom-navbar">
            <a href="/anasayfa" class="nav-item">
                <img src="Images/home_small.png" alt="Home" class="nav-icon" />
                <br />
                Home
            </a>
            <a href="/scan" class="nav-item" style="color: #C31C4B;">
                <img src="Images/scan.png" alt="Scan" class="nav-icon" />
                <br />
                Scan
            </a>
            <a href="/saved" class="nav-item">
                <img src="Images/saved.png" alt="Saved" class="nav-icon" />
                <br />
                Saved
            </a>
        </footer>
    }

</div>

@code {
    private string CurrentPage { get; set; }

    protected override void OnInitialized()
    {
        CurrentPage = NavigationManager.Uri;
        base.OnInitialized();
    }
}