.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;

}

.left-column {
    margin: 0; 
}

.right-column {
    margin: 0;  
}
.customCard {
    flex-shrink: 0;  
    flex-grow: 0;  
    width: 100%;  
    margin-right: 15px;
    margin-bottom: 15px;
    /*    background-color: #E3E7A0;*/
/*    background-color: var(--card-bg-color, #E3E7A0);*/
    perspective: 1px;
    border-radius: 15px;
    padding: 15px;
    scroll-snap-align: start;
h3{
    font-weight: bold;
}

h4 {
    color: #5E5B67;
    font-weight: bold;
}

h5 {
    color: #322F40;
    font-weight: bold;
}

}

    .add-button {
        margin-left: auto;  
        cursor: pointer;
    }

.row-scrollable-container {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;  
}

    .column-scrollable-container {
        overflow-x: auto;
        display: flex;
        flex-direction: column;
    }

.full-screen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;  
    z-index: 9999;  
}

.Button{
    
}

.basic-button {
    background-color: #F2F2F7;
    color: #322F40;
    margin-top: 10px;
    font-size: 20px;
    width: 200px;
    border-radius: 14px;
    font-weight: bold;
    vertical-align: central;
}
.form-group {
    border: none;
}

.title{
    padding: 5px;
}
.frame {
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
}


// form bottom nav bar layout
.nav-icon {
    width: 45px;
    height: 45px;
}

.nav-item {
    color: black;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

    .nav-item:hover {
        color: black;
    }

.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    z-index: 999; /* Ensure the navbar appears above other elements */
}

/* Add padding to the bottom of the page to prevent content from being hidden under the navbar */
.page {
    padding-bottom: 60px; /* Adjust according to the height of your navbar */
}

